// import starting from the src/ folder
@import "variables.scss";

// can also be relative import
// @import "./variables.scss";

// we can use the $primaryColor variable now
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 25% 100px auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    font-size:44px;
    text-align:center;
}

.grid-router{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    text-align: center;
}